.container{
    color : black;
    background-color: white;
    border-radius: 5px;
    border:  0px;
    margin: 2% 25%;
    padding: 2% 5%;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

.title{
    text-align: center;
    font-size: 2em;
    font-style: bold;
    margin: 5px 0px 20px;
    padding: 10px 0px;
}

.input-field{
    margin: 5px 5px 50px 5px;
}

input{
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    width: 100%;
    max-width: 95%;
    max-height: 40px;
    margin: 0;
    padding: 0.5em;
    font-size:20px;
}

label{
    margin: 5px 5px;
    font-size: 1em;
}

.submit-wrap{
    text-align: center;
}

.btn-submit{
    border-radius: 3px;
    border: 0px transparent;
    color: white;
    font-size: 1.5em;
    background-color: orangered;
    margin: 5px 5px 10px 5px;
    padding: 5px;
}

.btn-submit:hover{
    background-color: rgb(255, 178, 149);
    color: black;
    cursor: pointer;
    transform: scale(1.1) perspective(1px)
}